/* ++++++++++GENERAL+++++++++++++++ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.text__gray {
  color: rgb(50, 50, 50);
}

.text__white {
  color: white;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

/* ++++++++++NAVIGATION+++++++++++++++ */
.nav__container {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 120px;
  height: 60px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin-left: 30px;
}

/* ++++++++++++SEARCH FEATURES++++++++++++++ */
.search {
  max-width: 500px;
  margin: 24px auto;
  text-align: center;
  /* background-color: red; */
}

.search__title {
  font-size: 18px;
  margin: 20px 0;
}

input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  transition: all 0.5;
}

.input::placeholder {
  color: black;
}

input[type="text"] {
  /* background: red; */
  background-color: rgba(222, 222, 222, 0.499);
  width: 350px;
  height: 40px;
  border: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

input[type="text"]::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.311);
}

input[type="text"]:focus {
  outline: none;
  border: none;
}

input[type="submit"] {
  position: relative;
  top: 0;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 86, 2);
  color: white;
  transition: all 300ms ease;
}

input[type="submit"]:hover {
  background-color: lightseagreen;
}

/* ++++++++++++FILTER-RANGE-SLIDE FEATURES++++++++++++++ */
.filter__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slide__container {
  width: 25%;
  /* background-color: lightcoral; */
}

.filter__container p {
  margin-top: 20px;
  font-size: 12px;
}

.slider {
  width: 100%;
  height: 10px;
  outline: none;
  border-radius: 12px;
}

.slider::after {
  content: "$1000";
  font-size: 12px;
  position: absolute;
  top: 110%;
  left: 92%;
}

.slider::before {
  content: "$0";
  font-size: 12px;
  position: absolute;
  top: 110%;
  left: 0%;
}

/* ++++++++++++FILTER-SELECT FEATURES++++++++++++++ */
.select__container {
  width: 25%;
  /* background-color: lightblue; */
}

.select__container select {
  width: 100%;
}

/* ++++++++++++FILTER-SELECT FEATURES++++++++++++++ */

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  /* background-color: cyan; */
}

.product {
  width: 30%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.425);
}

.image__container {
  width: 100%;
  height: 200px;
}

.image__container img {
  width: 100%;
  height: 100%;
}

.product__details p {
  color: rgb(19, 67, 83);
  border-top: 1px solid rgba(110, 110, 110, 0.395);
  padding: 10px;
}

.product__details span {
  color: rgba(0, 0, 0, 0.696);
}

/* media queries-----TABLET */
@media (max-width: 768px) {
  .main {
    justify-content: space-between;
  }

  .product {
    width: 45%;
  }
}

/* media queries-----PHONE */
@media (max-width: 550px) {
  .product {
    width: 100%;
  }
}

/* media queries-----SMALL PHONE */

@media (max-width: 500px) {
  .logo {
    width: 70px;
    height: 35px;
  }

  input[type="text"] {
    /* background: red; */
    background-color: rgba(222, 222, 222, 0.499);
    width: 200px;
    height: 30px;
    border: none;
    padding: 0 15px;
    border-radius: 25px 0 0 25px;
  }

  input[type="text"]::placeholder {
    font-size: 12px;
  }

  input[type="text"]:focus {
    outline: none;
    border: none;
  }

  input[type="submit"] {
    position: relative;
    top: -3px;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 70px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 86, 2);
    color: white;
    transition: all 300ms ease;
    font-size: 12px;
  }
}
